
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center w-100">
        <div class="jumbotron text-center">
            <h1>Design and build the [Support Wheel of Fate]</h1>
            <br/>
            <div class="text-left">
                <p class="lead">All Amigo engineers take it it turns to support the business for half a day at a time. This is affectionately known as BAU.
                    Currently, Amigo has no tool which decides who is doing BAU and when, all rotas are a created and maintained by hand.Your task is to design and build an online "Support Wheel of Fate". This should select two engineers at random to both complete a half day of support each. For the purposes of this task you are free to assume that we have 10 engineers.</p>
                <p class="lead">Business Rules</p>
                <ul>
                  <li>
                      An engineer can do at most one half day shift in a day.
                  </li>
                  <li>
                      An engineer cannot have half day shifts on consecutive days.
                  </li>
                  <li>
                      Each engineer should have completed one whole day of support in any 2 week period.
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>